#page-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 42px;

}

#lpp-logo{
    width: 268px;
    height: 93px;
}


/* TOP SEARCH BOX SECTION*/

#search{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    padding-left: 0;

}
#search ::placeholder{
    color: grey;
}
#search i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
}

#search-box{
    background-color: lightgrey;
    border-radius: 5px;
    height: 50px;
}


/* BUTTONS SECTION */

#button_container{
    position: absolute;
    z-index: 2;
    padding-left: 0!important;

}

#ingredients-select{
    background-color: #3282F7;
    max-width: 36vw;
    margin: 5px;
    margin-left: 0;
    padding: 10px;

}

#devices-select{
    background-color: #68D9A4;
    max-width: 36vw;
    margin: 5px;
    padding: 10px;
}
#ustensils-select{
    background-color: #ED6454;
    max-width: 36vw;
    margin: 5px;
    padding: 10px;
}

#button_container{
    display: flex;
    padding: 15px;
    cursor: pointer;
}
label{
    cursor: pointer;
}
.search_buttons{
    border-radius: 10px;
    border: none;
    min-height: 60px;
    width: 150px;
    margin: 10px;
}
::placeholder{
    color: grey;
    background-color: transparent;
}
input{
    color: black;
}

/* TAGS  SECTION*/
.fa-angle-up{
    display: none;
}

.tags{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 5px;
    height: 40px;
    color: #fff;
    background-color: #3282F7;
    border-radius: 5px;
}
.tags i{
    padding-left: 10px;
    padding-right: 0;
}

.ingredient-tag-color{
    background-color: #3282F7;
}
.device-tag-color{
    background-color: #68D9A4!important;
}
.ustensil-tag-color{
    background-color: #ED6454!important;
}

#selected-filters{
    display: flex;
    justify-content: start;
}

/* CARD SECTION */
#recipes{
    margin-top: 100px;
}

.card{
    max-width: 400px;
    /* height: 400px; */
    border-radius: 10px;
    margin-bottom: 25px;
}
.card-body{
    background-color: whitesmoke;
}
.card img{
    height: 200px;
    background-color: grey;
}
.card:active{
    background-color: yellowgreen;
}
.card:active .card-title{
    background-color: yellowgreen;
}
.card-title{
    font-size: medium;
    font-weight: bold;
}

.card-text{
    margin-bottom: 0;
    margin-right: 15px;

}

.title_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.description_section{
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
    height: 200px;
    overflow: hidden;
    /* text-overflow: clip ellipsis!important; */
}
.time_container{
    display: flex;
    justify-content: end;
    font-weight: bold;
}
.time_container i{
    padding-right: 5px;
    font-size: larger;
}

/* SELECT2 */

.select2 {
    /* background-color: blue; */
    color: #fff;
    border-radius: 4px;
    padding: 5px;
}

.select2 input, .select2 .items-list {
    display: none;
}

.select2 input{
    background-color: transparent;
    border: none;
    color: white!important;
    outline: none;
}

.select2 ::placeholder{
    color: lightgray;
}


.select2 .items-list {
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
}

.select2 .items-list li {
    width: 33.33%;
}

.select2 .items-list li button {
    background-color: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: left;
}

.select2.open input, .select2.open .items-list {
    display: flex;
}